/* AuditDisplayStock.css */

.body-audit {
  height: 300px;
  width: 350px;
  position: relative;
  background-color: #242927;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Clip content that exceeds 300px */
}

.audit-button {
  font-size: 0.8rem;
  width: 50%;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, #2254c0, #0d36ae);
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  margin-top: 2px;
}

.icon-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.chart-container {
  display: flex;
  justify-content: center; /* Center the chart horizontally */
  align-items: center; /* Center the chart vertically */
}
