/* DisplayItem.css */

.display {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .display-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .display-form {
    display: flex;
    flex-direction: column;
  }
  
  .display-textarea {
    width: 40%; /* Make the textarea full-width */
    height: 200px; /* Set a fixed height for the textarea */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px; /* Space below the textarea */
  }
  
  .display-button {
    padding: 10px;
    font-size: 16px;
    width: 100px;
    margin: 10px 2px;
  }
  
  .display-results {
    margin-top: 20px;
  }
  