.body-processed {
  align-items: end;
  flex-direction: column;
  align-self: flex-end;
  height: 250px;
  width: 90%;
  position: relative;
  background-color: #242927;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute content vertically */
  padding: 10px; /* Adjust padding to manage space */
  box-sizing: border-box; /* Include padding in height and width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow */
  max-height: fit-content;
  align-items: center;
}
